<!DOCTYPE html>
<html>
<head>
	<title>Sitio</title>
	<link rel="stylesheet" type="text/css" href="css/materialize.css">
	<link rel="stylesheet" type="text/css" href="css/styles.css">
</head>
<body>		
<h1 class="center-align">Elementos Sitio</h1>

<div class="container">
<h2>Titulos</h2>
	<div class="row">
		<div class="col s4">
			<h1>Titulo 1</h1>
			<h2>Titulo 2</h2>
			<h3>Titulo 3</h3>
			<h4>Titulo 4</h4>
			<h5>Titulo 5</h5>
			<h6>Titulo 6</h6>
		</div>
	</div>
</div>

<div class="container">
<h2>Columnas</h2>
	<div class="row">
		<div class="col s6">
			Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. 
		</div>
		<div class="col s6">
			Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. 
		</div>
	</div>
	<div class="row">
		<div class="col s4">
			Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. 
		</div>
		<div class="col s4">
			Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. 
		</div>
		<div class="col s4">
			Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. 
		</div>
	</div>
</div>

<div class="container">
<h2>Imagenes Responsivas</h2>
	<div class="row">
		<div class="col s6">
			 <img src="img/img1.jpg" class="responsive-img">
		</div>
		<div class="col s6">
			<img src="img/img3.jpg" class="responsive-img">
		</div>
	</div>
	<div class="row">
		<div class="col s4">
			 <img src="img/img4.jpg" class="responsive-img">
		</div>
		<div class="col s4">
			<img src="img/img5.jpg" class="responsive-img">
		</div>
		<div class="col s4">
			 <img src="img/img6.jpg" class="responsive-img">
		</div>
	</div>
</div>

<div class="container">
<h2>Imagenes Circulares</h2>
	<div class="row">
		<div class="col s4">
			 <img src="img/img4.jpg" class="responsive-img circle">
		</div>
		<div class="col s4">
			<img src="img/img5.jpg" class="responsive-img circle">
		</div>
		<div class="col s4">
			 <img src="img/img6.jpg" class="responsive-img circle">
		</div>
	</div>
</div>

<div class="container">
<h2>Video Responsivo</h2>
	<div class="row">
		<div class="video-container">
			 <img src="img/img4.jpg" class="responsive-img circle"><iframe width="560" height="315" src="https://www.youtube.com/embed/caMHdcRNEkc" frameborder="0" allowfullscreen></iframe>
		</div>
		
	</div>
</div>

<div class="container">
<h2>Imagenes Responsivas con Sombra</h2>
	<div class="row">
		<div class="col s6">
			 <img src="img/img1.jpg" class="responsive-img z-depth-2">
		</div>
	</div>
	<div class="row">
		<div class="col s4">
			 <img src="img/img4.jpg" class="responsive-img z-depth-4">
		</div>
		<div class="col s4">
			<img src="img/img5.jpg" class="responsive-img z-depth-5">
		</div>
	</div>
</div>

<div class="container">
<h2>Tablas</h2>
	<div class="row">
	<h3>Simples</h3>
		<div class="col s12">
			 <table>
			 	<thead>
			 		<tr>
			 			<td>Nombre</td>
			 			<td>Apodo</td>
			 			<td>Otros</td>
			 		</tr>
			 	</thead>
			 	<tbody>
			 		<tr>
			 			<td>Cesar</td>
			 			<td>Dude</td>
			 			<td>Dood</td>
			 		</tr>
			 		<tr>
			 			<td>Cesar</td>
			 			<td>Dude</td>
			 			<td>Dood</td>
			 		</tr>
			 		<tr>
			 			<td>Cesar</td>
			 			<td>Dude</td>
			 			<td>Dood</td>
			 		</tr>
			 		<tr>
			 			<td>Cesar</td>
			 			<td>Dude</td>
			 			<td>Dood</td>
			 		</tr>
			 		<tr>
			 			<td>Cesar</td>
			 			<td>Dude</td>
			 			<td>Dood</td>
			 		</tr>
			 	</tbody>
			 </table>
		</div>
	</div>

	<div class="row">
	<h3>Delineadas y Sombreadas</h3>
		<div class="col s6">
			 <table class="bordered">
			 	<thead>
			 		<tr>
			 			<td>Nombre</td>
			 			<td>Apodo</td>
			 			<td>Otros</td>
			 		</tr>
			 	</thead>
			 	<tbody>
			 		<tr>
			 			<td>Cesar</td>
			 			<td>Dude</td>
			 			<td>Dood</td>
			 		</tr>
			 		<tr>
			 			<td>Cesar</td>
			 			<td>Dude</td>
			 			<td>Dood</td>
			 		</tr>
			 		<tr>
			 			<td>Cesar</td>
			 			<td>Dude</td>
			 			<td>Dood</td>
			 		</tr>
			 		<tr>
			 			<td>Cesar</td>
			 			<td>Dude</td>
			 			<td>Dood</td>
			 		</tr>
			 		<tr>
			 			<td>Cesar</td>
			 			<td>Dude</td>
			 			<td>Dood</td>
			 		</tr>
			 	</tbody>
			 </table>
		</div>
		<div class="col s6">
			 <table class="striped">
			 	<thead>
			 		<tr>
			 			<td>Nombre</td>
			 			<td>Apodo</td>
			 			<td>Otros</td>
			 		</tr>
			 	</thead>
			 	<tbody>
			 		<tr>
			 			<td>Cesar</td>
			 			<td>Dude</td>
			 			<td>Dood</td>
			 		</tr>
			 		<tr>
			 			<td>Cesar</td>
			 			<td>Dude</td>
			 			<td>Dood</td>
			 		</tr>
			 		<tr>
			 			<td>Cesar</td>
			 			<td>Dude</td>
			 			<td>Dood</td>
			 		</tr>
			 		<tr>
			 			<td>Cesar</td>
			 			<td>Dude</td>
			 			<td>Dood</td>
			 		</tr>
			 		<tr>
			 			<td>Cesar</td>
			 			<td>Dude</td>
			 			<td>Dood</td>
			 		</tr>
			 	</tbody>
			 </table>
		</div>
	</div>

	<div class="row">
	<h3>Mixta</h3>
		<div class="col s12">
			 <table class="bordered striped">
			 	<thead>
			 		<tr>
			 			<td>Nombre</td>
			 			<td>Apodo</td>
			 			<td>Otros</td>
			 		</tr>
			 	</thead>
			 	<tbody>
			 		<tr>
			 			<td>Cesar</td>
			 			<td>Dude</td>
			 			<td>Dood</td>
			 		</tr>
			 		<tr>
			 			<td>Cesar</td>
			 			<td>Dude</td>
			 			<td>Dood</td>
			 		</tr>
			 		<tr>
			 			<td>Cesar</td>
			 			<td>Dude</td>
			 			<td>Dood</td>
			 		</tr>
			 		<tr>
			 			<td>Cesar</td>
			 			<td>Dude</td>
			 			<td>Dood</td>
			 		</tr>
			 		<tr>
			 			<td>Cesar</td>
			 			<td>Dude</td>
			 			<td>Dood</td>
			 		</tr>
			 	</tbody>
			 </table>
		</div>
	</div>
</div>

<div class="container">
<h2>Tablas Hover</h2>
	<div class="row">
	<h3>Simples</h3>
		<div class="col s12">
			 <table class="hoverable">
			 	<thead>
			 		<tr>
			 			<td>Nombre</td>
			 			<td>Apodo</td>
			 			<td>Otros</td>
			 		</tr>
			 	</thead>
			 	<tbody>
			 		<tr>
			 			<td>Cesar</td>
			 			<td>Dude</td>
			 			<td>Dood</td>
			 		</tr>
			 		<tr>
			 			<td>Cesar</td>
			 			<td>Dude</td>
			 			<td>Dood</td>
			 		</tr>
			 		<tr>
			 			<td>Cesar</td>
			 			<td>Dude</td>
			 			<td>Dood</td>
			 		</tr>
			 		<tr>
			 			<td>Cesar</td>
			 			<td>Dude</td>
			 			<td>Dood</td>
			 		</tr>
			 		<tr>
			 			<td>Cesar</td>
			 			<td>Dude</td>
			 			<td>Dood</td>
			 		</tr>
			 	</tbody>
			 </table>
		</div>
	</div>

	<div class="row">
	<h3>Delineadas y Sombreadas</h3>
		<div class="col s6">
			 <table class="bordered hoverable">
			 	<thead>
			 		<tr>
			 			<td>Nombre</td>
			 			<td>Apodo</td>
			 			<td>Otros</td>
			 		</tr>
			 	</thead>
			 	<tbody>
			 		<tr>
			 			<td>Cesar</td>
			 			<td>Dude</td>
			 			<td>Dood</td>
			 		</tr>
			 		<tr>
			 			<td>Cesar</td>
			 			<td>Dude</td>
			 			<td>Dood</td>
			 		</tr>
			 		<tr>
			 			<td>Cesar</td>
			 			<td>Dude</td>
			 			<td>Dood</td>
			 		</tr>
			 		<tr>
			 			<td>Cesar</td>
			 			<td>Dude</td>
			 			<td>Dood</td>
			 		</tr>
			 		<tr>
			 			<td>Cesar</td>
			 			<td>Dude</td>
			 			<td>Dood</td>
			 		</tr>
			 	</tbody>
			 </table>
		</div>
		<div class="col s6">
			 <table class="striped hoverable">
			 	<thead>
			 		<tr>
			 			<td>Nombre</td>
			 			<td>Apodo</td>
			 			<td>Otros</td>
			 		</tr>
			 	</thead>
			 	<tbody>
			 		<tr>
			 			<td>Cesar</td>
			 			<td>Dude</td>
			 			<td>Dood</td>
			 		</tr>
			 		<tr>
			 			<td>Cesar</td>
			 			<td>Dude</td>
			 			<td>Dood</td>
			 		</tr>
			 		<tr>
			 			<td>Cesar</td>
			 			<td>Dude</td>
			 			<td>Dood</td>
			 		</tr>
			 		<tr>
			 			<td>Cesar</td>
			 			<td>Dude</td>
			 			<td>Dood</td>
			 		</tr>
			 		<tr>
			 			<td>Cesar</td>
			 			<td>Dude</td>
			 			<td>Dood</td>
			 		</tr>
			 	</tbody>
			 </table>
		</div>
	</div>

	<div class="row">
	<h3>Mixta</h3>
		<div class="col s12">
			 <table class="bordered striped hoverable">
			 	<thead>
			 		<tr>
			 			<td>Nombre</td>
			 			<td>Apodo</td>
			 			<td>Otros</td>
			 		</tr>
			 	</thead>
			 	<tbody>
			 		<tr>
			 			<td>Cesar</td>
			 			<td>Dude</td>
			 			<td>Dood</td>
			 		</tr>
			 		<tr>
			 			<td>Cesar</td>
			 			<td>Dude</td>
			 			<td>Dood</td>
			 		</tr>
			 		<tr>
			 			<td>Cesar</td>
			 			<td>Dude</td>
			 			<td>Dood</td>
			 		</tr>
			 		<tr>
			 			<td>Cesar</td>
			 			<td>Dude</td>
			 			<td>Dood</td>
			 		</tr>
			 		<tr>
			 			<td>Cesar</td>
			 			<td>Dude</td>
			 			<td>Dood</td>
			 		</tr>
			 	</tbody>
			 </table>
		</div>
	</div>
</div>

<div class="container">
<h2>Tablas Highlight</h2>
	<div class="row">
	<h3>Simples</h3>
		<div class="col s12">
			 <table class="highlight">
			 	<thead>
			 		<tr>
			 			<td>Nombre</td>
			 			<td>Apodo</td>
			 			<td>Otros</td>
			 		</tr>
			 	</thead>
			 	<tbody>
			 		<tr>
			 			<td>Cesar</td>
			 			<td>Dude</td>
			 			<td>Dood</td>
			 		</tr>
			 		<tr>
			 			<td>Cesar</td>
			 			<td>Dude</td>
			 			<td>Dood</td>
			 		</tr>
			 		<tr>
			 			<td>Cesar</td>
			 			<td>Dude</td>
			 			<td>Dood</td>
			 		</tr>
			 		<tr>
			 			<td>Cesar</td>
			 			<td>Dude</td>
			 			<td>Dood</td>
			 		</tr>
			 		<tr>
			 			<td>Cesar</td>
			 			<td>Dude</td>
			 			<td>Dood</td>
			 		</tr>
			 	</tbody>
			 </table>
		</div>
	</div>

	<div class="row">
	<h3>Delineadas y Sombreadas</h3>
		<div class="col s6">
			 <table class="bordered highlight">
			 	<thead>
			 		<tr>
			 			<td>Nombre</td>
			 			<td>Apodo</td>
			 			<td>Otros</td>
			 		</tr>
			 	</thead>
			 	<tbody>
			 		<tr>
			 			<td>Cesar</td>
			 			<td>Dude</td>
			 			<td>Dood</td>
			 		</tr>
			 		<tr>
			 			<td>Cesar</td>
			 			<td>Dude</td>
			 			<td>Dood</td>
			 		</tr>
			 		<tr>
			 			<td>Cesar</td>
			 			<td>Dude</td>
			 			<td>Dood</td>
			 		</tr>
			 		<tr>
			 			<td>Cesar</td>
			 			<td>Dude</td>
			 			<td>Dood</td>
			 		</tr>
			 		<tr>
			 			<td>Cesar</td>
			 			<td>Dude</td>
			 			<td>Dood</td>
			 		</tr>
			 	</tbody>
			 </table>
		</div>
		<div class="col s6">
			 <table class="striped highlight">
			 	<thead>
			 		<tr>
			 			<td>Nombre</td>
			 			<td>Apodo</td>
			 			<td>Otros</td>
			 		</tr>
			 	</thead>
			 	<tbody>
			 		<tr>
			 			<td>Cesar</td>
			 			<td>Dude</td>
			 			<td>Dood</td>
			 		</tr>
			 		<tr>
			 			<td>Cesar</td>
			 			<td>Dude</td>
			 			<td>Dood</td>
			 		</tr>
			 		<tr>
			 			<td>Cesar</td>
			 			<td>Dude</td>
			 			<td>Dood</td>
			 		</tr>
			 		<tr>
			 			<td>Cesar</td>
			 			<td>Dude</td>
			 			<td>Dood</td>
			 		</tr>
			 		<tr>
			 			<td>Cesar</td>
			 			<td>Dude</td>
			 			<td>Dood</td>
			 		</tr>
			 	</tbody>
			 </table>
		</div>
	</div>

	<div class="row">
	<h3>Mixta</h3>
		<div class="col s12">
			 <table class="bordered striped highlight">
			 	<thead>
			 		<tr>
			 			<td>Nombre</td>
			 			<td>Apodo</td>
			 			<td>Otros</td>
			 		</tr>
			 	</thead>
			 	<tbody>
			 		<tr>
			 			<td>Cesar</td>
			 			<td>Dude</td>
			 			<td>Dood</td>
			 		</tr>
			 		<tr>
			 			<td>Cesar</td>
			 			<td>Dude</td>
			 			<td>Dood</td>
			 		</tr>
			 		<tr>
			 			<td>Cesar</td>
			 			<td>Dude</td>
			 			<td>Dood</td>
			 		</tr>
			 		<tr>
			 			<td>Cesar</td>
			 			<td>Dude</td>
			 			<td>Dood</td>
			 		</tr>
			 		<tr>
			 			<td>Cesar</td>
			 			<td>Dude</td>
			 			<td>Dood</td>
			 		</tr>
			 	</tbody>
			 </table>
		</div>
	</div>
</div>

<div class="container">
<h2>Tablas Badge</h2>
	<div class="row">
	<h3>Simples</h3>
		<div class="col s12">
			 <table class="highlight">
			 	<thead>
			 		<tr>
			 			<td>Nombre</td>
			 			<td>Apodo</td>
			 			<td>Otros</td>
			 		</tr>
			 	</thead>
			 	<tbody>
			 		<tr>
			 			<td>Cesar</td>
			 			<td>Dude</td>
			 			<td>Dood</td>
			 		</tr>
			 		<tr>
			 			<td>Cesar<span class="badge"> 12</span></td>
			 			<td>Dude</td>
			 			<td>Dood</td>
			 		</tr>
			 		<tr>
			 			<td>Cesar</td>
			 			<td>Dude<span class="badge new"> 12</span></td>
			 			<td>Dood</td>
			 		</tr>
			 		<tr>
			 			<td>Cesar</td>
			 			<td>Dude</td>
			 			<td>Dood</td>
			 		</tr>
			 		<tr>
			 			<td>Cesar</td>
			 			<td>Dude</td>
			 			<td>Dood</td>
			 		</tr>
			 	</tbody>
			 </table>
		</div>
	</div>
</div>

<div class="container">
<h2>Tarjetas</h2>
<div class="row grey darken-4">
	<div class="col s6">
		<div class="card red darken-4">
			<div class="card-content amber-text darken-1">
				<div class="card-title">Titulo</div>
				Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
			</div>
			<div class="card-action">
				<a href="#">Si</a>
				<a href="#">No</a>
			</div>
		</div>
	</div>
	<div class="col s6">
		<div class="card amber darken-1">
			<div class="card-content">
				<div class="card-title">Titulo</div>
				Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
			</div>
		</div>
	</div>
</div>
</div>

<div class="container">
<h2>Tarjetas Imagen</h2>
<div class="row grey darken-4">
	<div class="col s6">
		<div class="card">
			<div class="card-image">
				<img src="img/img4.jpg">
			</div>
			<div class="card-content">
				<div class="card-title">Titulo</div>
				Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
			</div>
			<div class="card-action">
				<a href="#">Si</a>
				<a href="#">No</a>
			</div>
		</div>
	</div>
	<div class="col s6">
		<div class="card">
		<div class="card-image">
			<img src="img/img4.jpg">
			<div class="card-title">Titulo</div>
		</div>
			<div class="card-content">
				Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
			</div>
		</div>
	</div>
</div>

<div class="row grey darken-4">
	<div class="col s6">
		<div class="card">
			<div class="card-image">
				<img src="img/img4.jpg">
			</div>
			<div class="card-content">
				<div class="card-title activator">Titulo</div>
				Lorem ipsum dolor sit amet, consectetuer adipiscing...
			</div>
			<div class="card-reveal">
				<div class="card-title">Titulo</div>
				Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
				<div class="card-action">
					<a href="#">Si</a>
					<a href="#">No</a>
				</div>
			</div>
		</div>
	</div>

	<div class="col s6">
		<div class="card">
		<div class="card-image">
			<img src="img/img4.jpg">
		</div>
			<div class="card-content">
				<div class="card-title activator">Titulo</div>
				Lorem ipsum dolor sit amet, consectetuer adipiscing...
			</div>
			<div class="card-action">
					<a href="#">Si</a>
					<a href="#">No</a>
			</div>
			<div class="card-reveal">
					<div class="card-title">Titulo</div>
					Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
			</div>
		</div>
	</div>
</div>

<div class="row">
		<div class="col s4">
			Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. 
		</div>
		<div class="col s4">
			Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. 
		</div>
		<div class="col s4">
			Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. 
		</div>
	</div>

</div>

	<!--Archivos JS-->
	<script type="text/javascript" src="js/jquery-3.1.1.js"></script>
	<script type="text/javascript" src="js/materialize.min.js"></script>
	<script type="text/javascript" src="js/styles.js"></script>

</body>
</html>